/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 de jun. de 2025, 06:43:15
    Author     : Paulo
*/

:root{
    --cor-body: #f2f4f8;
    --cor-cabecalho: #2c3e50;
    --cor-nav-button-a: #ecf0f1;
    --cor-nav-button-a-background:#34495e;
    --cor-nav-button-a-background-hover: #1abc9c;
    --cor-h1: #34495e;
    --cor-label:#2c3e50;
    --cor-input-border-color:#1abc9c;
    --cor-button: #1abc9c;
    --cor-button-hover:#16a085;
    --cor-background-th: #007bff;
    --cor-background-tr-even: #f2f2f2;
    --cor-button-retirado: #28a745;
    --cor-button-retirado-hover:#218838;
    --cor-button-devolver: #0073e6;
    --cor-button-devolver-hover: #3399ff;
    --cor-button-cancelado: #dc3545;
    --cor-button-cancelado-hover:#c82333;
}


/* Reset básico */

body {
  margin: 0;
  height: 100vh;
  background-color: var(--cor-body);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cabeçalho fixo */
.cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--cor-cabecalho);
  padding: 15px 0px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 100;
  margin-bottom: 10px;
}

.nav-buttons {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.nav-buttons a {
  color: var(--cor-nav-button-a);
  text-decoration: none;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: var(--cor-nav-button-a-background);
  transition: background-color 0.3s ease;
}

.nav-buttons a:hover {
  background-color: var(--cor-nav-button-a-background-hover);
  color: #fff;
}

/* Container centralizado */
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 300px;
  max-width: 1200px;
}
h1 {
  font-size: 2.2rem;
  color: var(--cor-h1);
  margin-bottom: 10px;

}

p{
    text-align: center;
    font-size: 1.1em;
    color: #666;
}

/* Editando a Tabela */

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th, table td{
    border: 1px solid #ccc;
    padding: 12px 25px;
    text-align: center; 
}
table th{
    background-color: var(--cor-background-th);
    color:white;
}

table tr:nth-child(even){
    background-color: var(--cor-background-tr-even);
}

/* Botões estilizados */
button {
    background-color: #0073e6;
    border: none;
    color: white;
    padding: 8px 12px;
    margin: 0 3px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
/*Botão Retirado - Cor Verde*/
button.btn-retirado{
    background-color: var(--cor-button-retirado);
}
button.btn-retirado:hover {
    background-color: var(--cor-button-retirado-hover);
}


/*Botão Devolver - Cor Azul*/
button.btn-devolvido{
   background-color: var(--cor-button-devolver);
}
button.btn-devolvido:hover{
    background-color: var(--cor-button-devolver-hover);
}


/*Botão Cancelado - Cor Vermelho*/
button.btn-cancelado{
   background-color: var(--cor-button-cancelado);
}
button.btn-cancelado:hover{
    background-color: var(--cor-button-cancelado-hover);
}

/* Ajustando formulários inline */
form {
    display: inline;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    th, td {
        padding: 10px 8px;
        font-size: 0.85em;
    }

    header.cabecalho .nav-buttons a {
        padding: 8px 12px;
        font-size: 0.9em;
    }
}

